/* import work sans font from google font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    padding: 20px 24px;
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    border: 0;
    font-size: 1.24rem;
    font-weight: 600;
}

/* header styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    
    padding: 50px 230px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    list-style: none;
}

header ul a {
    text-decoration: none;
    margin-right: 30px;
    color: #424242;
    font-weight: 600;
}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
}

.banner img{
    margin-top: 50px;
    width: 100%;
}

/* media queries */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }

    nav{
        flex-direction: column;
    }

    nav > ul{
        flex-direction: column;
    }

    .nav-title{
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }

    nav{
        flex-direction: column;
    }
}